@charset "utf-8";

/* 메인 비주얼 */
.main-visual {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.main-visual .swiper-slide {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.main-visual .swiper-slide img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    -webkit-transition: transform 5s ease;
    transition: transform 5s ease;
    z-index: 0;
}

.main-visual .swiper-slide-active img {
    transform: scale(1);
    transition-delay: 1s;
}

/* 텍스트 */
.main-visual .swiper-slide .txt-wrap {
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin-top: var(--size40);
    z-index: 10;
}
.main-visual .swiper-slide .txt-wrap h2 {
    font-size: var(--size72);
    line-height: var(--size86);
    opacity: 0;
    transition: transform 0.55s ease-in-out 0.4s, opacity 0.55s ease-in-out 0.4s;
}
.main-visual .swiper-slide .txt-wrap p {
    font-size: var(--size40);
    letter-spacing: 10px;
    margin-bottom: var(--size30);
    opacity: 0;
    transition: transform 0.55s ease-in-out, opacity 0.55s ease-in-out;
}
.main-visual .swiper-slide-active .txt-wrap h2 {
    opacity: 1;
    transform: translate(0, -40px);
}
.main-visual .swiper-slide-active .txt-wrap p {
    opacity: 1;
    transform: translate(0, -40px);
}

/* 유틸박스 */
.main-visual .util-box {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    z-index: 1;
}
.main-visual .swiper-button-prev,
.main-visual .swiper-button-next {
    width: 60px;
    height: 60px;
    opacity: 0.5;
    transition: opacity 0.4s;
    margin-top: -20%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: var(--size20) !important;
    color: #fff;
}
.main-visual .swiper-button-prev:hover,
.main-visual .swiper-button-next:hover {
    opacity: 1;
}
.main-visual .swiper-button-next {
    right: 0;
}
.main-visual .swiper-button-prev {
    left: 0;
}

/* 슬라이더 바 */
.main-visual .swiper-pagination {

}
.main-visual .swiper-pagination .swiper-pagination-bullet {
    position: relative;
    width: 140px;
    height: 0;
    border-radius: 0;
    opacity: 1;
    font-size: var(--size18);
    font-weight: 700;
    color: rgba(255, 255, 255, 0.3);
    margin: 0 !important;
}
.main-visual .swiper-pagination .swiper-pagination-bullet:after,
.main-visual .swiper-pagination .swiper-pagination-bullet:before {
    content: '';
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: -35px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    /* background-color: var(--white);
    opacity: 0.4; */
}
.main-visual .swiper-pagination .swiper-pagination-bullet:before {
    width: 0%;
}
.main-visual .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    color: var(--white);
}
.main-visual .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
    animation: progressbar 4.5s linear;
    animation-fill-mode: forwards;
    /* background-color: var(--white);
    opacity: 1; */
    background-color: rgba(0, 160, 225, 1);
}
@keyframes progressbar {
    100% {
        width: 100%;
    }
}


/* play,stop 버튼 */
.util-box .swiper-play-pause {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: 240px;
    width: 32px;
    height: 32px;
    font-size: 0;
    z-index: 50;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 50% 50%;
    cursor: pointer;
}
.util-box .pause {
    background-image: url("../../images/icon/icon_pause.svg");
}
.util-box .play {
    background-image: url("../../images/icon/icon_play.png");
}

/* 비즈니스 */
.main_business{padding-bottom:var(--size120);}
.main_business .con_title{margin-bottom:var(--size30);}
.main_business .business_card{display:flex;flex-wrap:wrap;justify-content:space-between;}
.main_business .business_card li{position:relative;margin-bottom:var(--size40);}
.main_business .business_card li:nth-child(1){margin-top:var(--size200);}
.main_business .business_card li:nth-child(2){margin-top:var(--size100);}
.main_business .business_card li:nth-child(5){margin-top:var(--size-100);}
.main_business .business_card li:nth-child(6){margin-top:var(--size-200);}
.main_business .business_card li a{position:relative;display:block;border-radius:var(--size20);overflow:hidden;} /* width:376px; */
.main_business .business_card .thumb{position:relative;width:100%;height:100%;}
.main_business .business_card .card{position:absolute;top:var(--size70);left:var(--size40);right:var(--size40);bottom:var(--size70);color:var(--white);z-index:1}
.main_business .business_card .card .title{font-size:var(--size32);font-weight:700;line-height:1.3;}
.main_business .business_card .card .desc{font-weight:600;margin-top:var(--size20);}
.main_business .business_card .card .btn_more{position:absolute;bottom:0;left:0;width:var(--size48);height:var(--size48);border-radius:100%;background:var(--primary) url(../../images/icon/icon_arrow_right_20.svg) 50% 50% no-repeat;}


/* 반응형 */
@media all and (max-width: 1918.98px) {

}

@media all and (max-width: 1599.98px) {
  
}

@media screen and (max-width: 1399.98px) {
}

@media screen and (max-width: 1199.98px) {


}

@media screen and (max-width: 991.98px) {
  
}

/* 모바일 */
@media screen and (max-width: 767.98px) {


}

@media all and (max-width: 575.98px) {


}

@media all and (max-width: 478.98px) {
 
}

@media all and (max-width: 358.98px) {

}
