@charset "utf-8";

.skill_con1{display:flex;justify-content:space-between;}
.skill_con1 .con_box .con_txt{margin:var(--size30) 0;}
.skill_con1 .con_box figure{margin-top:var(--size60);}
.skill_con1 .con_img{display:flex;align-items:flex-end;width:53%;border:2px solid var(--grayeee);text-align:center;}
.skill_con1 .con_img > div{padding:var(--size10);margin:0 auto;}
.skill_con1 .con_img > div p{margin-top:2rem;}
.skill_con1 .con_img > div:nth-of-type(1){width:45%;}

.skill_con2{position:relative;margin:var(--size100) 0;}
.skill_con2 .table_title{font-weight:700;color:var(--primary);margin:var(--size20) 0 var(--size10);}

.skill_con3{background:url('../../images/skill/img_ai_cdss02.jpg') 50% 50%/cover;color:var(--white);padding:var(--size120) 0;}
.skill_con3 .con_title_dep2{color:var(--white);margin-bottom:var(--size10);}
.skill_con3 figure{margin-top:var(--size50);}

.table_list{border-top:1px solid var(--gray222);}
.table_list thead th{font-size:var(--size16);font-weight:700;color:var(--gray222);padding:var(--size10) 0;border-bottom:1px solid var(--gray222);border-left:1px solid var(--grayeee);}
.table_list tbody th{color:var(--gray222);border-bottom:1px solid var(--grayeee);}
.table_list tbody td{font-size:var(--size16);text-align:center;padding:var(--size10) 0;border-bottom:1px solid var(--grayeee);border-left:1px solid var(--grayeee);}
.table_list thead th:first-child,
.table_list tbody td:first-child{border-left:0;}

.gallery_con{display:flex;flex-wrap:wrap;gap:0 30px;}
.gallery_con li{width:31%;margin-bottom:var(--size50);}
.gallery_con li p{margin-top:var(--size20);}

/* 갤러리 모달팝업 */
.btn_pop{display:block;}
.pop_wrap{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.8);opacity:0;visibility:hidden;z-index:-1;transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;}
.pop_wrap.on{opacity:1;z-index:1998;visibility:visible;overflow:auto;-webkit-overflow-scrolling:touch;}
.pop_wrap .pop_inner{width:100%;min-height:100%;display:flex;justify-content:center;align-items:center;}
.pop_wrap .pop_content{position:relative;width:600px;box-shadow:3px 3px 20px 0 rgba(0,0,0,.1);}
.pop_wrap .pop_content p{color:#fff;padding-bottom:20px;}
.pop_wrap .pop_close{display:block;position:absolute;width:40px;height:40px;right:10px;top:0px;text-indent:-999em;overflow:hidden}
.pop_wrap .pop_close:before{content:'';display:block;position:absolute;width:30px;height:2px;left:26%;top:47%;background-color:#fff;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);}
.pop_wrap .pop_close:after{content:'';display:block;position:absolute;width:30px;height:2px;left:26%;top:47%;background-color:#fff;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);}

/* 반응형 */
@media all and (max-width: 1918.98px) {

}

@media all and (max-width: 1599.98px) {
  
}

@media screen and (max-width: 1399.98px) {

}

@media screen and (max-width: 1199.98px) {
  .skill_con1 .con_box{width:50%;margin-right:var(--size40);}
  .skill_con1 .con_box br{display:none;}
  .skill_con1 .con_img > div:nth-of-type(1){width:60%;}
  .gallery_con li{width:31%;}
}

@media screen and (max-width: 991.98px) {
  .skill_con1 .con_box{width:70%;}
  .gallery_con li{width:30%;}
}

/* 모바일 */
@media screen and (max-width: 767.98px) {
  .skill_con1{flex-wrap:wrap;}
  .skill_con1 .con_box{width:100%;margin-right:0;}
  .skill_con1 .con_box figure{margin-top:var(--size20);}
  .skill_con1 .con_img{width:100%;margin-top:var(--size50);}
  .skill_con1 .con_img > div:nth-of-type(1){width:50%;}

  .skill_con2{margin-top:var(--size50);}

  .gallery_con li{width:46%;}
  .pop_wrap .pop_content{width:90%;}
}

@media all and (max-width: 575.98px) {
  .btn_pop{cursor:default;}
  .pop_wrap{display:none;}
  .skill_con1 .con_img > div:nth-of-type(1){width:80%;}
  .gallery_con li{width:100%;}
}

@media all and (max-width: 478.98px) {

}

@media all and (max-width: 358.98px) {

}
